@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Young Serif", serif;
}

.background {
  background-image: url("../assets/bg-desktop2.jpg");
}
